<div class="new-suggestion container text-left">
  <a class="btn" routerLink="./home"><i class="fa fa-arrow-circle-left"></i> go back</a>
  <h1 class="text-center">Add A Suggestion</h1>
  <form>
    <div class="row">
      <div class="form-group col-md-7 mx-auto mb-5">
        <label for="exampleTextarea">My suggestion is:</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-7 mx-auto mb-5">
        <label for="exampleTextarea">Details and who my suggestion would benefit:</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-7 mx-auto mb-5">
        <label for="exampleTextarea">My name is:</label>
        <input type="text" class="form-control" id="exampleTextarea" rows="3" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-7 mx-auto mb-5">
        <label for="exampleTextarea">My email is:</label>
        <input type="text" class="form-control" id="exampleTextarea" rows="3" />
      </div>
    </div>
    <div class="row">
      <button type="submit" class="mx-auto btn btn-primary">Submit</button>        
    </div>
  </form>
</div>