<div class="new-suggestion container text-left">
  <form>
    <div class="row">
      <div class="form-group col-md-7 mx-auto mb-5">
        <label for="exampleTextarea">My suggestion is:</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-7 mx-auto mb-5">
        <label for="exampleTextarea">Details and who my suggestion would benefit:</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-7 mx-auto mb-5">
        <label for="exampleTextarea">My name is:</label>
        <input type="text" class="form-control" id="exampleTextarea" rows="3" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-7 mx-auto mb-5">
        <label for="exampleTextarea">My email is:</label>
        <input type="text" class="form-control" id="exampleTextarea" rows="3" />
      </div>
    </div>
  </form>
</div>