<div class="alert alert-success" *ngIf="success">Suggestion Saved Successfully!</div>
<div class="new-suggestion container text-left">
  <div class="row">
    <div class="col-md-9">
      <a class="btn btn-home" routerLink="./home"><i class="fa fa-arrow-circle-left"></i> Back To Home</a>
    </div>
    <div class="col-md-3">
      <button routerLink="../new-suggestion" class="btn btn-info new" style="float:right;"><i class="fa fa-plus"></i> New Suggestion</button>
    </div>
  </div>
  <div class="row" style="margin-top:1%;">
    <div class="col-md-3"></div>
    <h1 class="text-center col-md-6">Endorse A Suggestion</h1>
    <div class="col-md-3" style="margin-top: 1%;">
      <label>Search:</label><input [(ngModel)]="searchText" id="searchBox" type="text" style="float:right;">
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let suggestion of suggestions | orderBy | async | searchText:searchText">
      <b>{{suggestion.suggestionText}}</b>
      <p>
        <font size="2pt"><i>{{suggestion.details}}</i></font>
      </p>
      <p>
        <font size="2pt">Submitter: {{suggestion.name}}<i> ({{suggestion.email}})</i></font>
        <button *ngIf="authService.user | async" title="Delete" (click)="openDeleteModal(suggestion)" style="float:right;"><span class="fa fa-trash"></span></button>
        <button title="Endorse" (click)="openEndorseModal(suggestion)" style="float:right; margin-right:5pt"><span class="fa fa-heart"></span> {{suggestion.endorsements ? suggestion.endorsements.length : 0}}</button>
        <button *ngIf="authService.user | async" title="View Endorsements" (click)="openViewEndorsementsModal(suggestion)" style="float:right;"><span class="fa fa-eye"></span></button>
      </p>
    </li>
  </ul>
</div>
<ng-template #confirmDeleteModal let-c="close">
  <div class="modal-custom-sm">
    <div class="modal-header">
      <h4 class="modal-title">Delete</h4>
    </div>
    <div class="modal-body">
      <div>
        <p><strong>Are you sure you want to delete this suggestion?</strong></p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" name="cancelButton" class="btn btn-sm btn-modal-secondary" (click)="c()">Cancel</button>
      <button type="button" name="deleteButton" class="btn btn-sm btn-modal-primary" (click)="deleteSuggestion();this.openModalRef.close();">Delete</button>
    </div>
  </div>
</ng-template>
<ng-template #endorseModal let-c="close" class="modal-custom-sm">
  <div>
    <div class="modal-header">
      <h4 class="modal-title">Endorse</h4>
    </div>
    <div class="alert alert-danger" *ngIf="duplicateEndorsement">
      You can't endorse a suggestion twice
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-11 mx-auto mb-5">
          <label for="exampleTextarea">My name is:</label>
          <input type="text" class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="endorsement.name" name="name" required/>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-11 mx-auto mb-5">
          <label for="exampleTextarea">My email is:</label>
          <input type="text" class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="endorsement.email" name="email" required/>
          <div class="alert alert-danger" *ngIf="invalidEmail">Email must be valid and end in @reliaslearning.com</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-11 mx-auto mb-5">
          <label for="exampleTextarea">Comments:</label>
          <textarea class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="endorsement.comments" name="comments"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" name="cancelButton" class="btn btn-sm btn-modal-secondary" (click)="c()">Cancel</button>
    <button type="button" name="endorseButton" class="btn btn-sm btn-modal-primary" (click)="endorseSuggestion()">Endorse</button>
  </div>
</ng-template>
<ng-template #viewEndorsementsModal let-c="close">
  <div class="modal-custom-sm">
    <div class="modal-header">
      <h4 class="modal-title">View Endorsements</h4>
    </div>
    <div class="modal-body">
      <div>
        <p><strong>ENDORSEMENTS GO HERE</strong></p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" name="cancelButton" class="btn btn-sm btn-modal-secondary" (click)="c()">Done</button>
    </div>
  </div>
</ng-template>