<div class="container text-center">
  <p><i>Welcome to the Relias Employee Suggestion Box! <br> The purpose of this site is to obtain input from employees to improve internal Relias processes and/or products.</i></p>
  <h2><u>Guidelines</u></h2>
  <ul>
    <li>On the existing suggestions page, you can endorse any suggestion that has already been submitted by clicking the <span class="fa fa-heart"></span> . The more endorsements a suggestion gets, the more priority it will be given for consideration/implementation!</li>
    <li>In order to endorse a suggestion, you will be required to provide your name and Relias email address. Once your endorsement has been submitted, you will receive an email with a link to verify the endorsement.</li>
    <li>Before adding a new suggestion, please check the Existing Suggestions page to make sure it has not already been submitted. If it has, instead of adding it again, simply endorse the existing suggestion to give it a higher priority.</li>
  </ul>
  <button routerLink="../suggestions" class="btn btn-info btn-block">Go to Existing Suggestions <i class="fa fa-arrow-circle-right" style="padding-left:5px;"></i></button>
  <p><i>Don't see what you're looking for in the Existing Suggestions page? Create your own with the link below!</i></p>
  <button routerLink="../new-suggestion" class="btn btn-info new"><i class="fa fa-plus" style="padding-right:5px;"></i> New Suggestion</button>
  <div class="row">
    <button *ngIf="!(authService.user | async)" title="Login" (click)="openLoginModal()"><i class="fa fa-sign-in" aria-hidden="true"></i> Admin Login</button>
  </div>
</div>
<ng-template #loginModal let-c="close" class="modal-custom-sm">
    <div>
      <div class="modal-header">
        <h4 class="modal-title">Login</h4> 
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-7 mx-auto mb-5">
            <label for="exampleTextarea">Email Address:</label>
            <input type="text" class="form-control" id="exampleTextarea" rows="3" 
             [(ngModel)]="email" name="name" required/>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-7 mx-auto mb-5">
              <label for="exampleTextarea">Password:</label>
              <input type="password" class="form-control" id="exampleTextarea" rows="3" 
               [(ngModel)]="password" name="email" required/>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" name="cancelButton" class="btn btn-sm btn-modal-secondary" (click)="c()">Cancel</button>
        <button type="button" name="loginButton" class="btn btn-sm btn-modal-primary" (click)="login()">Login</button>
      </div>
    </div>
  </ng-template>