<div class="container text-center">
  <p><i>This suggestion box is for obtaining employee input in hopes of improving internal processes and/or products.</i></p>
  <h2><u>Guidelines</u></h2>
  <ul>
    <li>On the existing suggestions page, you can endorse any suggestion that has already been submitted by clicking the heart icon. The more endorsements a suggestion gets, the more priority it will be given for consideration/implementation.</li>
    <li>When you endorse a suggestion, you will be required to provide your name and email address. [Optional: Once you submit your endorsement, you will receive an email asking you to click on a link to verify the endorsement.]</li>
    <li>Before adding a new suggestion, please check the Existing Suggestions page to make sure it has not already been submitted. If it has, instead of creating your own, simply endorse the existing suggestion to give it higher priority.</li>
  </ul>
  <button routerLink="../suggestions" class="btn btn-info btn-block">Go to Existing Suggestions <i class="fa fa-arrow-circle-right" style="padding-left:5px;"></i></button>
  <p><i>Don't see what you're looking for in the existing suggestions page? Create your own with the link below!</i></p>
  <button routerLink="../new-suggestion" class="btn btn-info new"><i class="fa fa-plus" style="padding-right:5px;"></i> New Suggestion</button>
</div>